.register{
    border: none;
    width: 200%;
}

@media screen and (min-width: 300px) {
    .register{
        display: none;
    }
}

@media screen and (min-width: 480px) {
    .register{
        display: none;
    }
}

@media screen and (min-width: 600px) {
    .register{
        display: block;
    }
}

@media screen and (min-width: 930px) {
    .register{
        display: block;
    }
}