.login{
    border:none;
    width:200%;
}

@media screen and (min-width: 300px) {
    .login{
        width:100%;
        font-size: 12px;
    }
}

@media screen and (min-width: 480px) {
    .login{
        width:100%;
        font-size: 18px;
    }
}

@media screen and (min-width: 600px) {
    .login{
        width:200%;
        font-size: 18px;
    }
}

@media screen and (min-width: 930px) {
    .login{
        width:200%;
        font-size: 18px;
    }
}